<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SupportFlow Agent Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="styles.css" rel="stylesheet">
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Agent Dashboard
        </a>
    </nav>
  <div class="container-fluid">
    <div class="row">
      <!-- Left-side read-only text boxes -->
      <div class="col-md-6">
        <label for="chatHistoryTextBox">Chat History from SupportFlow Conversation</label>
        <textarea class="form-control" rows="19" readonly id="chatHistoryTextBox"></textarea>
        <label for="chatHistoryTextBox">Chat Summary</label>
        <textarea class="form-control" rows="2" readonly id="chatSummaryTextBox"></textarea>
      </div>
      <!-- Right-side read-only textboxes -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="nameTextBox">Customer Name</label>
          <input type="text" class="form-control" id="customerNameTextBox" readonly>
        </div>
        <div class="form-group">
          <label for="customerIdTextBox">Customer ID</label>
          <input type="text" class="form-control" id="customerIdTextBox" readonly>
        </div>
        <div class="form-group">
          <label for="customerEmailTextBox">Customer Email</label>
          <input type="text" class="form-control" id="customerEmailTextBox" readonly>
        </div>
        <div class="form-group">
          <label for="whatCustomerWantsTextBox">Escalation Reason</label>
          <input type="text" class="form-control" id="whatCustomerWantsTextBox" readonly>
        </div>
        <div class="form-group">
          <label for="solutionByBotTextBox">Best Solution Made by SupportFlow</label>
          <input type="text" class="form-control" id="solutionByBotTextBox" readonly>
        </div>
        <div class="form-group">
          <label for="moreBotSolutionsTextBox">Other Possible Solutions by SupportFlow</label>
          <textarea type="text" class="form-control" rows="6" id="moreBotSolutionsTextBox" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</body>
</html>